.page__single {

  margin-top:-1px * @navbar-margin-bottom;
  margin-bottom: -60px;

  &__picture {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:-1;

    .touch & {
      position:absolute;
    }
  }

  &__header {
    padding:30px 0;
    padding-top:50px;
    background: fade(@gray-darker, 80);
    color: #fff;
    position:relative;
    z-index:10;
    min-height: 200px;
  }

  &__body {
    position:relative;
    z-index:10;
    background: @body-bg;
    min-height: 600px;
    padding-top:20px;
    padding-bottom: 60px;
    font-size:1.2em;

    img {
      max-width:100%;
    }
  }

}
