project_identifier: rsf-index-2015
base_url: https://api.crowdin.com
preserve_hierarchy: true
api_key: <ADD YOUR API KEY HERE>

files:
  -
    source: /locale/en/LC_MESSAGES/messages.json
    translation: /locale/%two_letters_code%/LC_MESSAGES/%original_file_name%
