ui-view.page
  .container
    ul.list-unstyled.page__list
      li(ng-repeat='single in page.all()')
        .media.page__list__item
          a.media-left.page__list__item__media(ng-href="{{ link(single) }}")
            img.img-thumbnail(ng-src="{{ single.thumbnail || single.picture }}", width="150", alt)
          .media-body
            h3.media-heading
              a(ng-href="{{ link(single) }}")
                {{ single.title }}
            p.lead.text-muted {{ single.description }}
