.map {
  display: block;
  position: relative;

  &__workspace {
    height:600px;
    background:#B5D0D0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .leaflet-popup-content {
      min-width: 150px;
    }

    &__popup {

      &__footer {
        text-align: right;
      }
    }
  }

  &__ranking {
    position:absolute;
    right:20px;
    top:20px;
    bottom:20px;
    width: 250px;
    background:fade(white, 80);

    &__title {
      text-align: center;
      padding:0;
      margin:0;
    }

    &__overflow {
      position:absolute;
      top: @line-height-computed * 2px;
      left:0;
      right:0;
      bottom:0;
      padding:10px;
      overflow: auto;
    }
  }

  &__header {
    padding:30px;
    position:absolute;
    top:0;
    left:0;
    right:0;
  }
}
