.map {
  @ranking-width: 370px;
  @ranking-bg: darken(#414141, 10);

  display: block;
  position: relative;
  overflow: hidden;
  height: 600px;

  &__workspace {
    height:100%;
    margin-right:@ranking-width;
    background:#B5D0D0;

    .map--country-selected & {
      margin-right: 0;
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .leaflet-popup-content {
      min-width: 200px;
    }

    .leaflet-popup-content-wrapper {
      padding:0;
      padding-bottom:5px;
      border-radius: @border-radius-base;
      .box-shadow( 0 4px 5px -3px fade(#000, 70));
    }

    .leaflet-popup a.leaflet-popup-close-button {
      color:white;
    }

    &__popup {

      &__title {
        margin:-13px -19px;
        padding:13px 19px;
        background:@brand-primary;
        color:white;
      }

      &--selected-country &__title {
        background:black;
      }

      &__footer {
        text-align: right;
        a { color:white; }
      }

    }
  }

  &__ranking {

    position:absolute;
    right:0px;
    top:0px;
    bottom:0px;
    width: @ranking-width;
    color:white;
    background:@ranking-bg;
    padding:0;
    font-size:0.9em;
    overflow: hidden;

    .map--country-selected & {
      right: -1px * @ranking-width;
    }


    .scroller {
      overflow: hidden;
      position:absolute;
      top:2px;
      bottom:2px;
      left:0;
      right:0;
    }

    &__title {
      padding:20px;
      padding-bottom:0;
      margin:0;
      color:mix(white, @ranking-bg);

      .dropdown-toggle {
        color:white;
        text-decoration:underline;
      }

      .dropdown-menu {
        font-family: @font-family-base;
        min-width: auto;
      }
    }

    &__desc {
      padding:20px;
    }

    &__share {
      position: absolute;
      right:20px;
      top:25px;
      .label();
      background:white;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

      html body &:hover, & {
        color:@ranking-bg;
      }
    }

    &__overflow {
      padding:0;
      margin:0;

      &__item {
        padding:5px 15px;
        overflow: hidden;
        cursor: pointer;

        &:nth-child(odd) {
          background:lighten(@ranking-bg, 5);
        }

        &--highlight {
          font-weight: bold;
          background:lighten(@ranking-bg, 30) !important;
        }

        &__score {
          width: 40px;
          float:right;
          min-width: @line-height-computed;
          padding-left:5px;
          white-space: nowrap;
          text-align: center;
          display: inline-block;
          border-left:lighten(@ranking-bg, 10) 1px solid;
        }
      }
    }
  }


  &__brand {
    display: block;
    background:white;
    padding:5px;
    position:absolute;
    left:120px;
    bottom:5px;
  }


  &__header {
    padding:10px 30px;
    position:absolute;
    bottom:0;
    left:0;
    color:white;
    font-weight: bold;

    a {
      color:white;
      text-decoration: underline;
    }

    .dropdown-menu a {
      text-decoration: none;
    }


    &__legend {

      padding:1px;
      height:20px;
      line-height:20px;
      line-height: 1em;
      font-size: 1.2em;
      display: inline-block;
      position: relative;
      .translate(0, -50%);

      &__min, &__max, &__label {
        position: absolute;
        top:100%;
        text-align: center;
        font-size:0.8em;
        text-shadow:0 0 2px black, 0 2px 1px fade(black, 80);
      }

      &__min, &__label {
        left:0;
      }

      &__max, &__label {
        right:0;
      }

    }
  }
}
