.map.panel.panel-default(ng-if='settings')
  leaflet.map__workspace(center='settings.center', id='{{mapId}}')
  .map__header
    label
      | {{ 'select_year' | translate }}&nbsp;
      span.dropdown(dropdown)
        a.dropdown-toggle(dropdown-toggle)
          {{ selectedYear }} <span class="caret"></span>
        ul.dropdown-menu.dropdown-menu-right
          li.text-center(ng-repeat="year in availableYears", ng-class="{ active: year === selectedYear }")
            a(ng-click="$parent.selectedYear = year")
              {{ year }}

  .map__ranking
    h3.map__ranking__title {{ selectedYear }}
    ul.list-unstyled.map__ranking__overflow
      li.map__ranking__overflow__item(ng-repeat="country in data.ranking | orderBy: 'ranking_' + selectedYear ")
        span.label.label-primary {{ $index + 1 }}
        | &nbsp;{{ data.country(country).name() }}


