.map__workspace__popup
    h5.map__workspace__popup__title {{ country.name }}
    button.btn.btn-sm.btn-primary(ui-sref='main.details.country({ country: country["country-code"] })')
      | {{ 'find_out' | translate }}
