.details__country
  .details__country__header
    map(data="mapData", country="selectedCountry", id="map-country",  year="selectedYear")

  .details__country__body
    .details__country__body__title
      .container
        h1(ng-bind-html="'details_about_title' | translate:{ country: country.name() }")
        p.lead
          span(ng-show='country.hasRanking()')
            span(ng-bind-html="'country_rank_in_year' | translate:countryRankData")
            br
          span(ng-bind-html="'see_detail_on_rsf' | translate:{ url: country.url() }")
      .details__country__body__title__banner(ng-show='country.hasRanking()')
        .container
          .row
            .col-xs-3.details__country__body__title__banner__figure
              .details__country__body__title__banner__figure__rank
                | \#{{ rank['ranking_2015'] }}
            .col-xs-3.details__country__body__title__banner__figure
              .lead
                | {{ 'ranking_indicator' | translate }}
                .details__country__body__title__banner__figure__label
                  i.fa.fa-fw.fa-arrow-up.text-success-bg(ng-show='countryIndicatorProgression("ranking", 2015) ===  -1')
                  i.fa.fa-fw.fa-arrow-down.text-danger-bg(ng-show='countryIndicatorProgression("ranking", 2015) ===  1')
                  i(ng-show='countryIndicatorProgression("ranking", 2015) === 0') =&nbsp;
                  span.label(ng-class="countryIndicatorLabel('ranking', 2015)")
                    | {{ rank.ranking_2014 - rank.ranking_2015 | number:2 | decimal | positive }}
              span(ng-bind-html="'ranking_in_2014' | translate:{ ranking: rank.ranking_2014 }")
            .col-xs-3.details__country__body__title__banner__figure
              .lead
                | {{ 'score_indicator' | translate }}
                .details__country__body__title__banner__figure__label
                  i.fa.fa-fw.fa-arrow-up.text-success-bg(ng-show='countryIndicatorProgression("score", 2015) ===  -1')
                  i.fa.fa-fw.fa-arrow-down.text-danger-bg(ng-show='countryIndicatorProgression("score", 2015) ===  1')
                  strong(ng-show='countryIndicatorProgression("score", 2015) === 0') =&nbsp;
                  span.label(ng-class="countryIndicatorLabel('score', 2015)")
                    | {{ rank.score_2014 - rank.score_2015 | number:2 | decimal | positive }}
              span(ng-bind-html="'score_in_2014' | translate:{ score: decimal(rank.score_2014) }")
            .col-xs-3.details__country__body__title__banner__figure
              .lead
                | {{ 'score_without_exactions' | translate }}
                .details__country__body__title__banner__figure__label
                  i.fa.fa-fw &nbsp;
                  span.label.label-inverse
                    | {{ rank.score_2015 - 0.4 | number:2 | decimal }}

    .container
      .details__country__body__detailed
        h3 {{ 'detailed_title' | translate }}
        table.table.table-condensed.table-striped.panel.panel-default
          thead
            tr
              th
              th {{ 'country_note' | translate }}
              th {{ 'avg_zone_note' | translate }}
              th {{ 'avg_world' | translate }}
          tbody.text-center
            tr
              td.text-left {{ 'pluralism' | translate }}
              td {{ rank["pluralism_2015"] | decimal }}
              td {{ zoneAverage("pluralism_2015") | number:2 | decimal }}
              td {{ worldAverage("pluralism_2015") | number:2 | decimal }}
            tr
              td.text-left {{ 'media_independence' | translate }}
              td {{ rank["media_independence_2015"] | decimal }}
              td {{ zoneAverage("media_independence_2015") | number:2 | decimal }}
              td {{ worldAverage("media_independence_2015") | number:2 | decimal }}
            tr
              td.text-left {{ 'environment_selfcensorship' | translate }}
              td {{ rank["environment_and_self_censorship_2015"] | decimal }}
              td {{ zoneAverage("environment_and_self_censorship_2015") | number:2 | decimal }}
              td {{ worldAverage("environment_and_self_censorship_2015") | number:2 | decimal }}
            tr
              td.text-left {{ 'legal_framework' | translate }}
              td {{ rank["legal_framework_2015"] | decimal }}
              td {{ zoneAverage("legal_framework_2015") | number:2 | decimal }}
              td {{ worldAverage("legal_framework_2015") | number:2 | decimal }}
            tr
              td.text-left {{ 'institutional_transparency' | translate }}
              td {{ rank["institutional_transparency_2015"] | decimal }}
              td {{ zoneAverage("institutional_transparency_2015") | number:2 | decimal }}
              td {{ worldAverage("institutional_transparency_2015") | number:2 | decimal }}
            tr
              td.text-left {{ 'infrastructures' | translate }}
              td {{ rank["infrastructures_2015"] | decimal }}
              td {{ zoneAverage("infrastructures_2015") | number:2 | decimal }}
              td {{ worldAverage("infrastructures_2015") | number:2 | decimal }}
            tr
              td.text-left {{ 'exactions' | translate }}
              td {{ rank["exactions_2015"] | decimal }}
              td {{ zoneAverage("exactions_2015") | number:2 | decimal }}
              td {{ worldAverage("exactions_2015") | number:2 | decimal }}
            tr.details__country__body__detailed__important
              td.text-left {{ 'global_score' | translate }}
              td {{ rank["score_2015"] | decimal }}
              td {{ zoneAverage("score_2015") | number:2 | decimal }}
              td {{ worldAverage("score_2015") | number:2 | decimal }}
      .row
        .col-sm-5
          .details__country__body__position
            h3 {{ 'position_title' | translate }}
            table.table.table-condensed.table-striped.panel.panel-default
              thead
                tr
                  th {{ 'year' | translate }}
                  th(style='width: 200px') {{ 'position' | translate }}
                  th
              tbody.text-center
                tr(ng-repeat="year in positionYears", ng-class='countryIndicatorClass("ranking", year)')
                  td.lead {{ year }}
                  td
                    span(ng-show="rank['ranking_' + year]")
                      strong.lead \#{{ rank["ranking_" + year] }}
                      | &nbsp;/&nbsp;
                      | {{ mapData.count[year] }}
                    span(ng-hide="rank['ranking_' + year]")
                      | {{ 'no_ranking_this_year' | translate }}
                  td.text-right
                    span(ng-show="rank['ranking_' + year]")
                      i.fa.fa-fw.fa-arrow-up(ng-show='countryIndicatorProgression("ranking", year) ===  -1')
                      i.fa.fa-fw.fa-arrow-down(ng-show='countryIndicatorProgression("ranking", year) === 1')
        .col-sm-7
          .details__country__body__barometer
            h3 {{ 'barometer_title' | translate }}
            .panel.panel-primary
              .panel-body
                .lead
                  p(ng-bind-html="'barometer_sentence' | translate:'{ journalists: 1*rank.journalists_killed_2014, netcitizens: 1*rank.net_citizens_killed_2014 }'")
                  p
                    i.fa.fa-tachometer.fa-fw
                    | &nbsp;
                    span(ng-bind-html="'barometer_2015_link' | translate")
              .panel-footer.small {{ 'barometer_warning' | translate }}
          .details__country__body__predators(ng-show="predators.length")
            h3 {{ 'predators_title' | translate }}
            ul.list-unstyled
              li(ng-repeat='predator in predators')
                .media
                  a.media-left(ng-href="{{ predator.link_url }}", target="_blank")
                    img.img-thumbnail(ng-src="{{ predator.picture_url }}", width="150", alt)
                  .media-body
                    h3.media-heading
                      a(ng-href="{{ predator.link_url }}", target="_blank")
                        {{ predator.name }}
                    p.lead.text-muted {{ predator.details }}
