// injector
@import 'embed/embed.less';
@import 'main/main.less';
@import 'map/map.less';
@import 'main/details/details.less';
@import 'map/share/share.less';
@import 'page/single/single.less';
@import 'main/details/country/country.less';
// endinjector

@import '../assets/fonts/bebas/bebas.css';
@import 'bootstrap/bootstrap.less';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
