// injector
@import '../components/footer/footer.less';
@import '../components/progress/progress.less';
@import '../components/tablesort/tablesort.less';
@import 'embed/embed.less';
@import 'main/main.less';
@import 'map/map.less';
@import 'page/page.less';
@import 'details/all/all.less';
@import 'details/country/country.less';
@import 'map/share/share.less';
@import 'page/single/single.less';
// endinjector

@import '../assets/fonts/bebas/bebas.css';
@import 'bootstrap/bootstrap.less';

.browsehappy {
  display: none;
  font-weight: bold;
  padding:10em;
  background: #eee;
  color: #000;
  position:fixed;
  top:0;
  right: 0;
  width:100%;
  height:100%;
  z-index:@zindex-modal + 100;
}
