<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main">
        <img src="http://rsf.org/squelettes/img/fr/logo-fr.png" height="25" width="auto" />
      </a>
    </div>


    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: useLanguage() === 'fr' }">
          <a ng-click="useLanguage('fr')">
            {{ 'to_french' | translate }}
          </a>
        </li>
        <li ng-class="{ active: useLanguage() === 'en' }">
          <a ng-click="useLanguage('en')">
            {{ 'to_english' | translate }}
          </a>
        </li>
        <li ng-class="{ active: useLanguage() === 'es' }">
          <a ng-click="useLanguage('es')">
            {{ 'to_spanish' | translate }}
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="main.details">
            {{ 'details_nav' | translate }}
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="highlight">
            {{ 'highlight_nav' | translate }}
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="themes">
            {{ 'themes_nav' | translate }}
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
