<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="http://rsf.org/squelettes/img/fr/logo-fr.png" height="25" width="auto" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="map">La carte</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="details">Détails</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="highlight">Eclairage</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="themes">Thèmes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
