.main__details__country
  .container
    h1(ng-bind-html="'details_about_title' | translate:{ country: country.name() }")
    p.lead(ng-bind-html="'see_detail_on_rsf' | translate:{ url: country.url() }")
    .panel.panel-default
      map(data="mapData", country="selectedCountry", id="map-country",  year="selectedYear")

    .main__details__country__lead.lead
      p(ng-bind-html="'country_rank_in_year' | translate:countryRankData")
      p {{ 'score_without_exactions' | translate }}&nbsp;

    .main__details__country__detailed
      h3 {{ 'detailed_title' | translate }}
      table.table.table-condensed.table-striped.panel.panel-default
        thead
          tr
            th
            th {{ 'pluralisme' | translate }}
            th {{ 'media_independence' | translate }}
            th {{ 'environment_selfcensorship' | translate }}
            th {{ 'legal_framework' | translate }}
            th {{ 'institutional_transparency' | translate }}
            th {{ 'infrastructures' | translate }}
            th {{ 'exactions' | translate }}
            th {{ 'global_score' | translate }}
        tbody
          tr
            td {{ 'country_note' | translate }}
            td.text-center {{ rank["pluralisme_2015"] }}
            td.text-center {{ rank["media_independence_2015"] }}
            td.text-center {{ rank["environment_and_self_censorship_2015"] }}
            td.text-center {{ rank["legal_framework_2015"] }}
            td.text-center {{ rank["institutional_transparency_2015"] }}
            td.text-center {{ rank["infrastructures_2015"] }}
            td.text-center {{ rank["exactions_2015"] }}
            td.text-center {{ rank["score_2015"] }}
          tr
            td {{ 'avg_zone_note' | translate }}
            td
            td
            td
            td
            td
            td
            td
            td
          tr
            td {{ 'avg_world' | translate }}
            td
            td
            td
            td
            td
            td
            td
            td
    .row
      .col-sm-5
        .main__details__country__position
          h3 {{ 'position_title' | translate }}
          table.table.table-condensed.table-striped.panel.panel-default
            thead
              tr
                th {{ 'year' | translate }}
                th {{ 'position' | translate }}
            tbody
              tr(ng-repeat="year in positionYears")
                td {{ year }}
                td <strong>\#{{ rank["ranking_" + year] }}</strong> / 180
      .col-sm-7
        .main__details__country__barometer
          h3 {{ 'barometer_title' | translate }}
          .well.well-sm
            .row
              .col-xs-6
                h4 2014
                {{ 'journalists_killed' | translate }}: {{ rank["journalists_killed_2015"] }}<br />
                {{ 'netcitizen_killed' | translate }}: {{ rank["net_citizens_killed_2015"] }}
              .col-xs-6
                h4 2015
